#!/usr/bin/env bash

# Aliases to make the commandline a little easier...
# Inspiration from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases


alias ..="cd .."

# super vim
alias svim='sudo -E vim'

# Make a directory and cd into it
mkd () {
	mkdir -p "$@" && cd "$_"
}

# Tmux shortcuts
# All of these are handled via tmux ZSH plugin
# Create new session (specify name)
# alias ts="tmux new-session -s" 
# Attach to session
alias taa="tmux a" 
# Attach to session (specify name)
# alias ta="tmux attach -t" 
# List running sessions
# alias tl="tmux list-sessions"
