#!/usr/bin/env bash

# Aliases to make the commandline a little easier...
# Inspiration from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases


alias ..="cd .."
alias --="cd -"

alias g="git"
