alias ..="cd .."
alias ll="ls -l"
alias la="ls -A"
source ~/.sshAliases

# Works with the bare git repo of dotfiles
# https://www.atlassian.com/git/tutorials/dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# super vim
alias svim='sudo -E vim'

# Make a directory and cd into it
mkd () {
	mkdir -p "$@" && cd "$_"
}

# Print public IP
alias howami="curl https://ipecho.net/plain"

# Tmux shortcuts
# All of these are handled via ZSH plugin
# Create new session (specify name)
# alias ts="tmux new-session -s" 
# Attach to session
# alias taa="tmux a" 
# Attach to session (specify name)
# alias ta="tmux attach -t" 
# List running sessions
# alias tl="tmux list-sessions"

# Make things colorful
alias ls='ls --color=auto'
alias grep='grep --color=auto'

# Check top 10 highest memory hogging apps
alias mem="ps -eo pid,cmd,%mem,%cpu --sort=%mem | head"
